<span class="eventDetailsArea">
  <h3>
    Información del evento
  </h3>
  <div class="row">
    <div class="col-12">
      <i class="fa fa-book"></i> Materia
    </div>
  </div>
  <div class="row end-row">
    <div class="col-12">
      <input class="input-lg" type="text" [(ngModel)]="subject">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <i class="fa fa-calendar-o"></i> Fecha
    </div>
  </div>
  <div class="row end-row">
    <div class="col-12">
      <input class="input-lg" type="date" [(ngModel)]="date">
    </div>
  </div>

  <div class="row">
    <div class="col-6 float-left">
      <i class="fa fa-clock-o"></i> Hora inicio
    </div>
    <div class="col-6">
      Hasta
    </div>
  </div>
  <div class="row end-row">
    <div class="col-6 float-left">
      <input class="input-lg" type="time" [(ngModel)]="startTime">
    </div>
    <div class="col-6 float-right">
      <input class="input-lg" type="time" [(ngModel)]="endTime">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <i class="fa fa-graduation-cap"></i> Año
    </div>
  </div>
  <div class="row end-row">
    <div class="col-12">
      <input class="input-lg" type="radio" [(ngModel)]="schoolYear" value="10"> 10°
      <input class="input-lg" type="radio" [(ngModel)]="schoolYear" value="11"> 11°
      <input class="input-lg" type="radio" [(ngModel)]="schoolYear" value="12"> 12°
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <i class="fa fa-comment"></i> Notas adicionales
    </div>
  </div>
  <div class="row end-row">
    <div class="col-12">
      <textarea class="input-lg" [(ngModel)]="comments"></textarea>
    </div>
  </div>
</span>

<div class="row">
  <div class="col-12">
    <button class="btn btn-primary"
      style="margin-top: -24%; margin-bottom: 0px; margin-left: 35%; border-radius: 25px"
      (click)="SaveData()">Guardar</button>
  </div>
</div>

<div class="row" *ngIf="eventList.length > 0" style="margin-top: -8%">
  <div class="col-12" style="text-align: center; ">
    <a style="font-size: 17px;">Cancelar y descartar</a>
  </div>
</div>

<router-outlet></router-outlet>
