<div class="main-view">
  <div class="row">
    <div class="col-12">
      <input class="search-bar" type="text" placeholder="Buscar"><button class="btn-search"><i class="fa fa-search"></i></button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-8">
      <h1>{{currentMonth}} {{currentYear}}</h1>
    </div>
    <div class="col-4" style="padding-top: 5%">
      <button class="btn-pag"><i class="fa fa-angle-left"></i></button>
      &nbsp;
      <button class="btn-pag"><i class="fa fa-angle-right"></i></button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <span class="section-title">Filtrar eventos</span>
      <hr style="margin-top: 0px;"/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <label>Año:&nbsp;</label>
      <select>
        <option *ngFor="let schoolYear of schoolYears">
            {{ schoolYear }}
          </option>
      </select>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
